*-debug.log
*-error.log
/.nyc_output
/dist
/lib
/package-lock.json
/yarn.lock
/oclif.manifest.json
/tmp
node_modules
git push -u origin master
/.sonarlint
.vscode/*
backup/cycle-1/delta/1/Account.csv
backup/cycle-1/delta/1/Contact.csv
backup/cycle-1/delta/1/log.json
backup/cycle-1/delta/1/Opportunity.csv
backup/cycle-1/full/Account.csv
backup/cycle-1/full/Contact.csv
backup/cycle-1/full/log.json
backup/cycle-1/full/Opportunity.csv
bulk_output/ACCOUNT.csv
.sfdx/tools/apex.db
.vim-force.com/session.properties
config/data-def.json
.pmdCache
CHEATSHEET
create_class.js
create_trigger.js
hello
log
